<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>516252717800-2bo72vi3kjv8qr47f4iagmifoev0rmin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.516252717800-2bo72vi3kjv8qr47f4iagmifoev0rmin</string>
	<key>API_KEY</key>
	<string>AIzaSyBMhpXtKvTQQlHx4Ay0yVggYhM7w52k-U4</string>
	<key>GCM_SENDER_ID</key>
	<string>516252717800</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>.GBShop</string>
	<key>PROJECT_ID</key>
	<string>onlineshop-a82f4</string>
	<key>STORAGE_BUCKET</key>
	<string>onlineshop-a82f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516252717800:ios:f6430ccc0b828af2b66f5d</string>
</dict>
</plist>